body {
    align-items: center;
}

.pbtn {
    margin: 0.5%;
}

#keyboard {
    margin: 5%;
}

@-webkit-keyframes sway {
    0% {
        top: -20px;
        -webkit-transform: rotateX(-50deg);
        transform: rotateX(-50deg);
   }
    3% {
        margin-left: -2%;
        -webkit-transform: rotateX(-80deg);
        transform: rotateX(-80deg);
        opacity: 1;
   }
    7% {
        margin-left: 1%;
        -webkit-transform: rotateX(-170deg);
        transform: rotateX(-170deg);
   }
    10% {
        margin-left: 2%;
        -webkit-transform: rotateX(-230deg);
        transform: rotateX(-230deg);
   }
    16% {
        margin-left: 5%;
        -webkit-transform: rotateX(-250deg);
        transform: rotateX(-250deg);
   }
    22% {
        margin-left: 3%;
        -webkit-transform: rotateX(-280deg);
        transform: rotateX(-280deg);
   }
    28% {
        margin-left: 0%;
        -webkit-transform: rotateX(-300deg);
        transform: rotateX(-300deg);
   }
    35% {
        margin-left: 3.5%;
        -webkit-transform: rotateX(-310deg);
        transform: rotateX(-310deg);
   }
    48% {
        -webkit-transform: rotateX(-350deg);
        transform: rotateX(-350deg);
   }
    58% {
        margin-left: 3.5%;
        -webkit-transform: rotateX(-310deg);
        transform: rotateX(-310deg);
   }
    70% {
        margin-left: 0.5%;
        -webkit-transform: rotateX(-280deg);
        transform: rotateX(-280deg);
   }
    83% {
        margin-left: -2%;
        -webkit-transform: rotateX(-230deg);
        transform: rotateX(-230deg);
   }
    95% {
        margin-left: 2%;
        -webkit-transform: rotateX(-200deg);
        transform: rotateX(-200deg);
   }
    100% {
        margin-left: 3%;
        top: 100%;
   }
}
span.flower {
    padding: 5px;
    display: block;
    position: absolute;
    z-index: 100;
    animation: sway 30s ease-out;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#winTxt {
    -webkit-animation: fadein 2s;
}

.btn-win {
    -webkit-animation: fadein 5s;
}

#winCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
